/*
 * CSS File for the solution
 * Tutorial 22 - Pokemon API
 *
 *
 * Photo by Carolina Castilla Arias:
 * https://www.pexels.com/photoclose-up-photo-of-pokemon-pikachu-figurine-1716861/
 */



 body {
  color: #003049;
  font-family: sans-serif;
  background-color: #fdf0d5;

  background: url("./images/pica.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 500px;
  min-width: 500px;
  padding: 50px;
  border-radius: 35px;
  background-color: #f0f7c3;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
  font-size: 2rem;
}


/*
 * SEARCH POKEMON FORM
 */

form.search-pokemon {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin-bottom: 30px;
}

form.search-pokemon label {
  grid-column-start: 1;
  grid-column-end: 4;
}

input[type="number"] {
  grid-column-start: 1;
  grid-column-end: 3;

  border: none;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input[type="submit"] {
  background-color: #003049;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;

  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

/*
 * EMPTY STATE
 */

main .empty-state {
  margin: 10px 0px 10px 0px;
  border: 10px solid #003049;
  padding: 20px;
  border-radius: 20px;

  background-color: #f4de52;
  text-align: center;
  font-size: 1.4rem;
}

main .hidden {
  display: none;
}



/*
 * POKEMON ITEM CONTAINER
 */



/*
 * POKEMON ITEM CARD
 */

main .pokemon {
  margin: 10px 0px 10px 0px;
  border: 10px solid #003049;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;

  background-color: #f4de52;
  text-align: center;
  font-size: 1.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  animation: pokeitem 1s;
}

main .pokemon .name {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;
}

main .pokemon .id {
  text-align: right;
}

main .pokemon .image {
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
  height: 170px;
  margin: 0 auto;

  animation: pokeitem-image 1s ease-in-out;
}

main .pokemon .types {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

main .pokemon .types li {
  color: #f4de52;
  background-color: #003049;
  padding: 0.7rem 2rem 0.5rem 2rem;
  border-radius: 0.5rem;
}

/*
 * POKEITEM ANNIMATION
 */

@keyframes pokeitem {
  0% {
    transform: translateY(-100px) scale(0.05);
    /* transform: scale(1); */
    rotate: 10deg;
  }
  50% {
    transform:  translateY(100px) scale(1.1);
    rotate: 30deg;
  }
  100% {
    transform: translateY(0px) scale(1);
    height: auto;
    /* transform: scale(1); */
    rotate: 0deg;
  }
}

@keyframes pokeitem-image {
  0% {
    opacity: 0;
    rotate: -50deg;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
  }
}

/*
 * SCREEN READER UTILITY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
