/*
selector {
    property: value;
}

Properties we want to explore:

- units px vs rem
- width (box model vs content model)
- border
- margin
- padding
- border radius
- box shadow

*/

section {
  background-color: aqua;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  background-color: red;
  margin: 10px 20px 30px 40px;
  padding: 30px;

  border: 10px solid black
}

p {
  width: 30%;
}
