/*
 * CSS File for the solution
 * Final Prep
 *
 *
 *
 *
 */


 body {
  color: #003049;
  font-family: sans-serif;
  background-color: #fdf0d5;


  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*
main {
  max-width: 500px;
  min-width: 500px;
  padding: 50px;
  border-radius: 35px;
  background-color: #f0f7c3;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
} */
/*
main h1 {
  font-size: 2rem;
} */


/*
 * SCREEN READER UTILITY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
