/*
selector {
    property: value;
}

Properties and topics we want to explore:

- Inheritance
- Cascade (specificity)
- color
- border (width, style, color)
- background color
- background gradient (linear, radial)
- text align (left, right, center, justify)

- put a background colour on the body element
- create a dark-box class and set the background color to dark and the text color to light
- create a utility class to make the text a certain colour
- make the h1 look nice

- also look at block and inline elements and inline block elements

*/


p {
  color: black;
}

body {
  background-color: #c7e6a3;
  color: green;
}

section {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-color: #f5f5f5;
  color: greenyellow;
  border: 10px solid red;
  border-radius: 10px;
}

h2 {
  text-align:center;
}

.dark-text {
  color:blueviolet;
}

.light-text {
  color:brown;
}

.dark-box {
  background-color: darkslategrey;
  color: white;
}


.dark-box p {
  color: white;
}

